.valid {
  color: #3880ff;
}

.invalid {
  color: #eb445a;
}

ion-icon[name="person-sharp"] {
  transform: translateX(0.5em) translateY(0.6em);
}

ion-button {
  margin-top: 0.8em;
}

button {
  position: absolute;
  right: 0px;
  top: 20px;
  background: transparent;
}

ion-icon{
  width:20px;
  height: 20px;
}

// <!-- button:
// position: absolute;
// right: 0px;
// top: 20px;

// ion icon:
// width: 20px;
// height: 20px;

// svg viewBox 0 0 500 500

// ion icon > shadow root > div icon-inner > svg -->
