.valid {
  color: #3880ff;
}

.invalid {
  color: #eb445a;
}

ion-icon[name="person-sharp"] {
  transform: translateX(0.5em) translateY(0.6em);
}

ion-button {
  margin-top: 0.8em;
}

button {
  position: absolute;
  right: 0px;
  top: 20px;
  background: transparent;
}

ion-icon{
  width:20px;
  height: 20px;
}

ion-input{
  width: 80%;
}
