<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col> </ion-col>
      <ion-col class="ion-text-center col">
        <img
          class="ion-float-center"
          class="image"
          src="..\..\assets\logoDevSkill.png"
        />
        <br />
        <ion-card>
          <h6 class="welcome">Benvenuti!</h6>
          <p class="subtitle">Inserisci il tuo username e password.</p>
          <br />
          <app-login-form></app-login-form>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
